
{% load static tailwind_tags %}
{% comment %} {% load static wagtailcore_tags wagtailuserbar tailwind_tags favicon_tags wagtail_cache %} {% endcomment %}
{% comment %} {% wagtailpagecache 86400 "home" %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="x-ua-compatible" content="ie=edge">


          <title>

          </title>

          <meta name="description" content="{{ page.search_description }}" />

          <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% tailwind_css %}

        {% block css %}
        {% endblock css %}

        {% block javascript_top %}
        {% endblock javascript_top %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}

        {% block modal %}
        {% endblock modal %}

        {% block inline_javascript %}
        {% endblock inline_javascript %}

        {% block extra_js %}
        {% endblock extra_js %}

    </body>
</html>


